In [36]:
import pandas as pd

In [47]:
import pandas as pd

dflimpieza = pd.read_csv('dataset_e1.csv')

In [51]:
import numpy as np

In [52]:
dflimpieza

      release_date                 developer         price
0       2018-01-04                 Kotoshiro          4.99
1       2018-01-04          Secret Level SRL  Free To Play
2       2017-07-24              Poolians.com  Free to Play
3       2017-12-07                      彼岸领域          0.99
4              NaN                       NaN          2.99
...            ...                       ...           ...
32130   2018-01-04        Nikita "Ghost_RUS"          1.99
32131   2018-01-04                    Sacada          4.99
32132   2018-01-04  Laush Dmitriy Sergeevich          1.99
32133   2017-09-02             xropi,stev3ns          4.99
32134          NaN                       NaN          4.99

[32019 rows x 3 columns]

In [53]:
dflimpieza = dflimpieza.dropna(how='all')

In [78]:
dflimpieza.head(10)

  release_date               developer  price
0   2018-01-04               Kotoshiro   4.99
1   2018-01-04        Secret Level SRL   0.00
2   2017-07-24            Poolians.com   0.00
3   2017-12-07                    彼岸领域   0.99
4   2016-04-18                   otros   2.99
5   2018-01-04     Trickjump Games Ltd   3.99
6   2018-01-04  Poppermost Productions   9.99
7   2018-01-04  Poppermost Productions  18.99
8   2018-01-04  Poppermost Productions  29.99
9   2018-01-04               RewindApp   0.00

In [55]:
import pandas as pd

# Convertir la columna 'release_date' a formato de fecha
dflimpieza['release_date'] = pd.to_datetime(dflimpieza['release_date'], errors='coerce')

# Calcular la mediana de las fechas
median_date = dflimpieza['release_date'].median()

# Reemplazar las fechas no válidas con la mediana
dflimpieza['release_date'] = dflimpieza['release_date'].fillna(median_date)

Aqui se remplazan todos los registros de la columna release_data que tienen un formato no valido, con la mediana de las fechas, esto para no eliminar ningun registro

In [76]:

dflimpieza.head(10)

  release_date               developer  price
0   2018-01-04               Kotoshiro   4.99
1   2018-01-04        Secret Level SRL   0.00
2   2017-07-24            Poolians.com   0.00
3   2017-12-07                    彼岸领域   0.99
4   2016-04-18                   otros   2.99
5   2018-01-04     Trickjump Games Ltd   3.99
6   2018-01-04  Poppermost Productions   9.99
7   2018-01-04  Poppermost Productions  18.99
8   2018-01-04  Poppermost Productions  29.99
9   2018-01-04               RewindApp   0.00

se remplazan los valores nulos de developer por otros

In [58]:
dflimpieza['developer'] = dflimpieza['developer'].fillna('otros')

In [77]:
dflimpieza.head(10)

  release_date               developer  price
0   2018-01-04               Kotoshiro   4.99
1   2018-01-04        Secret Level SRL   0.00
2   2017-07-24            Poolians.com   0.00
3   2017-12-07                    彼岸领域   0.99
4   2016-04-18                   otros   2.99
5   2018-01-04     Trickjump Games Ltd   3.99
6   2018-01-04  Poppermost Productions   9.99
7   2018-01-04  Poppermost Productions  18.99
8   2018-01-04  Poppermost Productions  29.99
9   2018-01-04               RewindApp   0.00

In [61]:
unique_values = dflimpieza['price'].nunique()
print(unique_values)

unique_values = dflimpieza['price'].unique()
print(unique_values)

162
['4.99' 'Free To Play' 'Free to Play' '0.99' '2.99' '3.99' '9.99' '18.99'
 '29.99' nan 'Free' '10.99' '1.59' '14.99' '1.99' '59.99' '8.99' '6.99'
 '7.99' '39.99' '19.99' '7.49' '12.99' '5.99' '2.49' '15.99' '1.25'
 '24.99' '17.99' '61.99' '3.49' '11.99' '13.99' 'Free Demo'
 'Play for Free!' '34.99' '74.76' '1.49' '32.99' '99.99' '14.95' '69.99'
 '16.99' '79.99' '49.99' '5.0' '44.99' '13.98' '29.96' '119.99' '109.99'
 '149.99' '771.71' 'Install Now' '21.99' '89.99'
 'Play WARMACHINE: Tactics Demo' '0.98' '139.92' '4.29' '64.99' 'Free Mod'
 '54.99' '74.99' 'Install Theme' '0.89' 'Third-party' '0.5' 'Play Now'
 '299.99' '1.29' '3.0' '15.0' '5.49' '23.99' '49.0' '20.99' '10.93' '1.39'
 'Free HITMAN™ Holiday Pack' '36.99' '4.49' '2.0' '4.0' '9.0' '234.99'
 '1.95' '1.5' '199.0' '189.0' '6.66' '27.99' '10.49' '129.99' '179.0'
 '26.99' '399.99' '31.99' '399.0' '20.0' '40.0' '3.33' '199.99' '22.99'
 '320.0' '38.85' '71.7' '59.95' '995.0' '27.49' '3.39' '6.0' '19.95'
 '499.99' '16.06' '4.68' '131.4' '44.98' '202.76' '1.0' '2.3' '0.95'
 '172.24' '249.99' '2.97' '10.96' '10.0' '30.0' '2.66' '6.48' '19.29'
 '11.15' '18.9' '2.89' 'Play the Demo' '99.0' '87.94' '599.0' '8.98'
 '9.69' '0.49' '9.98' '9.95' '7.0' 'Starting at $499.00'
 'Starting at $449.00' '12.89' '6.49' '1.87' '42.99' '41.99' '289.99'
 'Free to Try' '23.96' '5.65' '12.0' '13.37' '189.96' '124.99'
 'Free Movie' '19.98' '160.91' 'Free to Use']

In [80]:
non_decimal_values = dflimpieza[~dflimpieza['price'].apply(lambda x: str(x).replace('.', '', 1).isdigit())]
non_decimal_values.head(10)

Empty DataFrame
Columns: [release_date, developer, price]
Index: []

In [68]:
unique_non_decimal_values = non_decimal_values['price'].unique()
unique_non_decimal_values

array(['Free To Play', 'Free to Play', nan, 'Free', 'Free Demo',
       'Play for Free!', 'Install Now', 'Play WARMACHINE: Tactics Demo',
       'Free Mod', 'Install Theme', 'Third-party', 'Play Now',
       'Free HITMAN™ Holiday Pack', 'Play the Demo',
       'Starting at $499.00', 'Starting at $449.00', 'Free to Try',
       'Free Movie', 'Free to Use'], dtype=object)

por ultimo se cambiaron los valores no numeros como free to play , free, fre to use, etc, a cero

In [69]:
dflimpieza['price'] = pd.to_numeric(dflimpieza['price'], errors='coerce').fillna(0)

In [81]:
dflimpieza.head(10)

  release_date               developer  price
0   2018-01-04               Kotoshiro   4.99
1   2018-01-04        Secret Level SRL   0.00
2   2017-07-24            Poolians.com   0.00
3   2017-12-07                    彼岸领域   0.99
4   2016-04-18                   otros   2.99
5   2018-01-04     Trickjump Games Ltd   3.99
6   2018-01-04  Poppermost Productions   9.99
7   2018-01-04  Poppermost Productions  18.99
8   2018-01-04  Poppermost Productions  29.99
9   2018-01-04               RewindApp   0.00

Guardamos el ultimo csv que sera el que se utilizara para las pruenbas del endpoint numero 1

In [72]:
dflimpieza.to_csv('dataset_uno.csv', index=False)

**SEGUNDO DATASET**

In [93]:
import pandas as pd

# Cargar el archivo user_reviews_pr.csv
user_reviews_df = pd.read_csv('user_reviews.csv')

# Mostrar las primeras filas del dataframe
user_reviews_df.head()

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
0,NaN,"Posted November 5, 2011.",NaN,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,NaN,"Posted July 15, 2011.",NaN,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,NaN,"Posted April 21, 2011.",NaN,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,NaN,"Posted June 24, 2014.",NaN,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637,http://steamcommunity.com/id/js41637
4,NaN,"Posted September 8, 2013.",NaN,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637,http://steamcommunity.com/id/js41637

In [94]:
# Cargar el archivo steam_games_pr.csv
steam_games_df = pd.read_csv('steam_games.csv')

# Mostrar las primeras filas del dataframe
steam_games_df.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140.0,Kotoshiro
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980.0,Secret Level SRL
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290.0,Poolians.com
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,False,767400.0,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"['Action', 'Indie', 'Casual', 'Sports']",http://steamcommunity.com/app/773570/reviews/?...,"['Single-player', 'Full controller support', '...",2.99,False,773570.0,NaN

In [95]:
# Cargar el archivo items_pr.csv
items_muestramitad_df = pd.read_csv('items_completo.csv')

# Mostrar las primeras filas del dataframe
items_muestramitad_df.head()

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10.0,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20.0,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30.0,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40.0,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50.0,Half-Life: Opposing Force,0.0,0.0

In [96]:
# Extraer las columnas relevantes de cada dataframe
user_reviews_subset = user_reviews_df[['user_id', 'item_id', 'recommend']]
steam_games_subset = steam_games_df[['id', 'price']]
items_subset = items_muestramitad_df[['user_id', 'items_count']]

# Verificar las primeras filas de cada subset
user_reviews_subset.head(), steam_games_subset.head(), items_subset.head()

(             user_id  item_id  recommend
 0  76561197970982479     1250       True
 1  76561197970982479    22200       True
 2  76561197970982479    43110       True
 3            js41637   251610       True
 4            js41637   227300       True,
          id         price
 0  761140.0          4.99
 1  643980.0  Free To Play
 2  670290.0  Free to Play
 3  767400.0          0.99
 4  773570.0          2.99,
              user_id  items_count
 0  76561197970982479          277
 1  76561197970982479          277
 2  76561197970982479          277
 3  76561197970982479          277
 4  76561197970982479          277)

In [97]:
# Fusionar user_reviews_subset con steam_games_subset
merged_df = user_reviews_subset.merge(steam_games_subset, left_on='item_id', right_on='id', how='left')

# Mostrar las primeras filas del dataframe fusionado
merged_df.head()

             user_id  item_id  recommend        id  price
0  76561197970982479     1250       True    1250.0  19.99
1  76561197970982479    22200       True   22200.0   9.99
2  76561197970982479    43110       True       NaN    NaN
3            js41637   251610       True       NaN    NaN
4            js41637   227300       True  227300.0  19.99

In [98]:
# Fusionar merged_df con items_subset
final_df = merged_df.merge(items_subset, on='user_id', how='left')

# Mostrar las primeras filas del dataframe final
final_df.head(50)

              user_id  item_id  recommend      id  price  items_count
0   76561197970982479     1250       True  1250.0  19.99        277.0
1   76561197970982479     1250       True  1250.0  19.99        277.0
2   76561197970982479     1250       True  1250.0  19.99        277.0
3   76561197970982479     1250       True  1250.0  19.99        277.0
4   76561197970982479     1250       True  1250.0  19.99        277.0
5   76561197970982479     1250       True  1250.0  19.99        277.0
6   76561197970982479     1250       True  1250.0  19.99        277.0
7   76561197970982479     1250       True  1250.0  19.99        277.0
8   76561197970982479     1250       True  1250.0  19.99        277.0
9   76561197970982479     1250       True  1250.0  19.99        277.0
10  76561197970982479     1250       True  1250.0  19.99        277.0
11  76561197970982479     1250       True  1250.0  19.99        277.0
12  76561197970982479     1250       True  1250.0  19.99        277.0
13  76561197970982479     1250       True  1250.0  19.99        277.0
14  76561197970982479     1250       True  1250.0  19.99        277.0
15  76561197970982479     1250       True  1250.0  19.99        277.0
16  76561197970982479     1250       True  1250.0  19.99        277.0
17  76561197970982479     1250       True  1250.0  19.99        277.0
18  76561197970982479     1250       True  1250.0  19.99        277.0
19  76561197970982479     1250       True  1250.0  19.99        277.0
20  76561197970982479     1250       True  1250.0  19.99        277.0
21  76561197970982479     1250       True  1250.0  19.99        277.0
22  76561197970982479     1250       True  1250.0  19.99        277.0
23  76561197970982479     1250       True  1250.0  19.99        277.0
24  76561197970982479     1250       True  1250.0  19.99        277.0
25  76561197970982479     1250       True  1250.0  19.99        277.0
26  76561197970982479     1250       True  1250.0  19.99        277.0
27  76561197970982479     1250       True  1250.0  19.99        277.0
28  76561197970982479     1250       True  1250.0  19.99        277.0
29  76561197970982479     1250       True  1250.0  19.99        277.0
30  76561197970982479     1250       True  1250.0  19.99        277.0
31  76561197970982479     1250       True  1250.0  19.99        277.0
32  76561197970982479     1250       True  1250.0  19.99        277.0
33  76561197970982479     1250       True  1250.0  19.99        277.0
34  76561197970982479     1250       True  1250.0  19.99        277.0
35  76561197970982479     1250       True  1250.0  19.99        277.0
36  76561197970982479     1250       True  1250.0  19.99        277.0
37  76561197970982479     1250       True  1250.0  19.99        277.0
38  76561197970982479     1250       True  1250.0  19.99        277.0
39  76561197970982479     1250       True  1250.0  19.99        277.0
40  76561197970982479     1250       True  1250.0  19.99        277.0
41  76561197970982479     1250       True  1250.0  19.99        277.0
42  76561197970982479     1250       True  1250.0  19.99        277.0
43  76561197970982479     1250       True  1250.0  19.99        277.0
44  76561197970982479     1250       True  1250.0  19.99        277.0
45  76561197970982479     1250       True  1250.0  19.99        277.0
46  76561197970982479     1250       True  1250.0  19.99        277.0
47  76561197970982479     1250       True  1250.0  19.99        277.0
48  76561197970982479     1250       True  1250.0  19.99        277.0
49  76561197970982479     1250       True  1250.0  19.99        277.0

In [119]:
# Guardar el dataframe final en un archivo CSV
final_csv_path = "dataset_dos_limpio.csv"
final_df.to_csv(final_csv_path, index=False)

final_csv_path

'dataset_dos_limpio.csv'

In [120]:
# Cargar el dataframe final
final_df = pd.read_csv('dataset_dos_limpio.csv')

# Definir la función userdata
def userdata(User_id: str):
    # Filtrar las revisiones del usuario
    user_reviews = final_df[final_df['user_id'] == User_id]

    # Calcular el dinero gastado por el usuario
    # Convertir la columna de precio a float y manejar casos donde el precio es NaN o 'Free To Play'
    user_reviews['price'] = user_reviews['price'].replace(['Free To Play', 'Free to Play'], 0)
    user_reviews['price'] = pd.to_numeric(user_reviews['price'], errors='coerce').fillna(0)
    total_spent = user_reviews['price'].sum()

    # Calcular el porcentaje de recomendación
    total_reviews = len(user_reviews)
    recommended_reviews = user_reviews['recommend'].sum()
    recommendation_percentage = (recommended_reviews / total_reviews) * 100 if total_reviews else 0

    # Calcular la cantidad de items del usuario
    total_items = user_reviews['items_count'].iloc[0] if not user_reviews.empty else 0

    return {
        "Usuario": User_id,
        "Dinero gastado": f"{float(total_spent)} USD",   # Convertir explícitamente a float
        "% de recomendación": f"{float(recommendation_percentage):.2f}%",  # Convertir explícitamente a float
        "cantidad de items": int(total_items)  # Convertir explícitamente a int
    }

# Probar la función con un User_id de ejemplo
test_user_id = "Skillbot123"
userdata(test_user_id)

C:\Users\ag_om\AppData\Local\Temp\ipykernel_21736\3015261768.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_reviews['price'] = user_reviews['price'].replace(['Free To Play', 'Free to Play'], 0)
C:\Users\ag_om\AppData\Local\Temp\ipykernel_21736\3015261768.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_reviews['price'] = pd.to_numeric(user_reviews['price'], errors='coerce').fillna(0)

{'Usuario': 'Skillbot123',
 'Dinero gastado': '39.97 USD',
 '% de recomendación': '100.00%',
 'cantidad de items': 71}

In [121]:
def userdata_fixed(User_id: str):
    # Filtrar las revisiones del usuario
    user_reviews = final_df[final_df['user_id'] == User_id].copy()  # Usar .copy() para evitar la advertencia

    # Calcular el dinero gastado por el usuario
    # Convertir la columna de precio a float y manejar casos donde el precio es NaN o 'Free To Play'
    user_reviews.loc[:, 'price'] = user_reviews['price'].replace(['Free To Play', 'Free to Play'], 0)
    user_reviews.loc[:, 'price'] = pd.to_numeric(user_reviews['price'], errors='coerce').fillna(0)
    total_spent = user_reviews['price'].sum()

    # Calcular el porcentaje de recomendación
    total_reviews = len(user_reviews)
    recommended_reviews = user_reviews['recommend'].sum()
    recommendation_percentage = (recommended_reviews / total_reviews) * 100 if total_reviews else 0

    # Calcular la cantidad de items del usuario
    total_items = user_reviews['items_count'].iloc[0] if not user_reviews.empty else 0

    return {
        "Usuario": User_id,
        "Dinero gastado": f"{float(total_spent)} USD",   # Convertir explícitamente a float
        "% de recomendación": f"{float(recommendation_percentage):.2f}%",  # Convertir explícitamente a float
        "cantidad de items": int(total_items)  # Convertir explícitamente a int
    }

# Probar la función corregida con un User_id de ejemplo
userdata_fixed(test_user_id)

{'Usuario': 'Skillbot123',
 'Dinero gastado': '39.97 USD',
 '% de recomendación': '100.00%',
 'cantidad de items': 71}

In [104]:
final_df

,user_id,item_id,recommend,id,price,items_count
0,76561197970982479,1250,True,1250.0,19.99,277.0
1,76561197970982479,1250,True,1250.0,19.99,277.0
2,76561197970982479,1250,True,1250.0,19.99,277.0
3,76561197970982479,1250,True,1250.0,19.99,277.0
4,76561197970982479,1250,True,1250.0,19.99,277.0
...,...,...,...,...,...,...
7814581,76561198312638244,362890,True,362890.0,19.99,36.0
7814582,76561198312638244,362890,True,362890.0,19.99,36.0
7814583,LydiaMorley,273110,True,273110.0,Free to Play,0.0
7814584,LydiaMorley,730,True,730.0,14.99,0.0
7814585,LydiaMorley,440,True,440.0,Free to Play,0.0

In [105]:
final_df.duplicated()

0          False
1           True
2           True
3           True
4           True
           ...
7814581     True
7814582     True
7814583    False
7814584    False
7814585    False
Length: 7814586, dtype: bool

In [106]:
final_df.drop_duplicates(inplace=True)

In [108]:
final_df.head(50)

,user_id,item_id,recommend,id,price,items_count
0,76561197970982479,1250,True,1250.0,19.99,277.0
277,76561197970982479,22200,True,22200.0,9.99,277.0
554,76561197970982479,43110,True,NaN,NaN,277.0
831,js41637,251610,True,NaN,NaN,888.0
1719,js41637,227300,True,227300.0,19.99,888.0
2607,js41637,239030,True,239030.0,9.99,888.0
3495,evcentric,248820,True,248820.0,9.99,137.0
3632,evcentric,370360,True,370360.0,6.99,137.0
3769,evcentric,237930,True,237930.0,19.99,137.0
3906,evcentric,263360,True,263360.0,6.99,137.0
4043,evcentric,107200,True,107200.0,9.99,137.0
4180,evcentric,224500,True,224500.0,14.99,137.0
4317,doctr,250320,True,250320.0,24.99,541.0
4858,doctr,20920,True,20920.0,19.99,541.0
5399,doctr,204100,True,204100.0,19.99,541.0
5940,doctr,224600,True,224600.0,Free to Play,541.0
6481,doctr,207610,True,207610.0,24.99,541.0
7022,doctr,108710,True,108710.0,9.99,541.0
7563,maplemage,211420,True,211420.0,19.99,629.0
8192,maplemage,211820,True,211820.0,14.99,629.0
8821,maplemage,730,True,730.0,14.99,629.0
9450,maplemage,204300,True,204300.0,Free To Play,629.0
10079,Wackky,249130,True,249130.0,19.99,0.0
10080,Wackky,207610,True,207610.0,24.99,0.0
10081,Wackky,550,True,550.0,19.99,0.0
10082,Wackky,65800,True,65800.0,14.99,0.0
10083,Wackky,220,True,220.0,9.99,0.0
10084,76561198079601835,730,True,730.0,14.99,0.0
10085,MeaTCompany,730,True,730.0,14.99,14.0
10099,76561198089393905,72850,True,NaN,NaN,103.0
10202,76561198089393905,440,True,440.0,Free to Play,103.0
10305,76561198156664158,252950,True,252950.0,19.99,59.0
10423,76561198077246154,440,True,440.0,Free to Play,174.0
10597,76561198077246154,304930,True,304930.0,Free to Play,174.0
10771,WeiEDKrSat,4000,True,4000.0,9.99,28.0
10799,thequeenpanda,42910,True,42910.0,9.99,524.0
11323,death-hunter,232090,True,232090.0,29.99,121.0
11444,death-hunter,1250,True,1250.0,19.99,121.0
11565,death-hunter,4000,True,4000.0,9.99,121.0
11686,DJKamBer,304930,True,304930.0,Free to Play,152.0
11838,DJKamBer,570,True,570.0,Free to Play,152.0
11990,DJKamBer,218620,True,218620.0,4.99,152.0
12142,DJKamBer,224260,True,224260.0,Free,152.0
12294,DJKamBer,1250,True,1250.0,19.99,152.0
12446,DJKamBer,440,True,440.0,Free to Play,152.0
12598,Rainbow-Dashie,730,True,730.0,14.99,59.0
12657,Rainbow-Dashie,440,True,440.0,Free to Play,59.0
12716,Rainbow-Dashie,49520,True,49520.0,19.99,59.0
12775,76561198043472122,33440,False,NaN,NaN,88.0
12863,MarbleShrine,220200,True,220200.0,39.99,185.0

In [111]:
final_df['price'] = pd.to_numeric(final_df['price'], errors='coerce').fillna(0)

In [113]:
final_df.head(20)

                user_id  item_id  recommend        id  price  items_count
0     76561197970982479     1250       True    1250.0  19.99        277.0
277   76561197970982479    22200       True   22200.0   9.99        277.0
554   76561197970982479    43110       True       NaN   0.00        277.0
831             js41637   251610       True       NaN   0.00        888.0
1719            js41637   227300       True  227300.0  19.99        888.0
2607            js41637   239030       True  239030.0   9.99        888.0
3495          evcentric   248820       True  248820.0   9.99        137.0
3632          evcentric   370360       True  370360.0   6.99        137.0
3769          evcentric   237930       True  237930.0  19.99        137.0
3906          evcentric   263360       True  263360.0   6.99        137.0
4043          evcentric   107200       True  107200.0   9.99        137.0
4180          evcentric   224500       True  224500.0  14.99        137.0
4317              doctr   250320       True  250320.0  24.99        541.0
4858              doctr    20920       True   20920.0  19.99        541.0
5399              doctr   204100       True  204100.0  19.99        541.0
5940              doctr   224600       True  224600.0   0.00        541.0
6481              doctr   207610       True  207610.0  24.99        541.0
7022              doctr   108710       True  108710.0   9.99        541.0
7563          maplemage   211420       True  211420.0  19.99        629.0
8192          maplemage   211820       True  211820.0  14.99        629.0

In [114]:

final_df.to_csv('dataset_dos_limpio.csv', index=False)

In [123]:
df33 = pd.read_csv('steam_games.csv')
df33

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140.0,Kotoshiro
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980.0,Secret Level SRL
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290.0,Poolians.com
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,False,767400.0,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"['Action', 'Indie', 'Casual', 'Sports']",http://steamcommunity.com/app/773570/reviews/?...,"['Single-player', 'Full controller support', '...",2.99,False,773570.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Ghost_RUS Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']",http://steamcommunity.com/app/773640/reviews/?...,"['Single-player', 'Steam Achievements']",1.99,False,773640.0,"Nikita ""Ghost_RUS"""
32131,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"['Strategy', 'Indie', 'Casual']",http://steamcommunity.com/app/733530/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",4.99,False,733530.0,Sacada
32132,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"['Indie', 'Simulation', 'Racing']",http://steamcommunity.com/app/610660/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",1.99,False,610660.0,Laush Dmitriy Sergeevich
32133,SIXNAILS,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",http://steamcommunity.com/app/658870/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",4.99,False,658870.0,"xropi,stev3ns"
32134,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550.0,NaN

**LIMPIEZAS DEL TERCER DATASETS**

In [133]:
import pandas as pd

# Cargar los CSV
steam_games_df3 = pd.read_csv("steam_games.csv")
items_df3 = pd.read_csv("items_completo.csv")

# Filtrar las columnas necesarias
steam_games_cleaned = steam_games_df3[['id', 'genres', 'release_date']]
items_cleaned = items_df3[['item_id', 'playtime_forever', 'user_id']]

steam_games_cleaned

,id,genres,release_date
0,761140.0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",2018-01-04
1,643980.0,"['Free to Play', 'Indie', 'RPG', 'Strategy']",2018-01-04
2,670290.0,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",2017-07-24
3,767400.0,"['Action', 'Adventure', 'Casual']",2017-12-07
4,773570.0,NaN,NaN
...,...,...,...
32130,773640.0,"['Casual', 'Indie', 'Simulation', 'Strategy']",2018-01-04
32131,733530.0,"['Casual', 'Indie', 'Strategy']",2018-01-04
32132,610660.0,"['Indie', 'Racing', 'Simulation']",2018-01-04
32133,658870.0,"['Casual', 'Indie']",2017-09-02
32134,681550.0,NaN,NaN

In [134]:
# Crear una copia explícita del dataframe para evitar la advertencia
steam_games_cleaned_copy = steam_games_cleaned.copy()

# Realizar nuevamente la limpieza en la copia
steam_games_cleaned_copy['release_date'] = pd.to_datetime(steam_games_cleaned_copy['release_date'], errors='coerce')
steam_games_cleaned_copy['release_date'].fillna(median_date, inplace=True)

steam_games_cleaned_copy

,id,genres,release_date
0,761140.0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",2018-01-04
1,643980.0,"['Free to Play', 'Indie', 'RPG', 'Strategy']",2018-01-04
2,670290.0,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",2017-07-24
3,767400.0,"['Action', 'Adventure', 'Casual']",2017-12-07
4,773570.0,NaN,2016-05-17
...,...,...,...
32130,773640.0,"['Casual', 'Indie', 'Simulation', 'Strategy']",2018-01-04
32131,733530.0,"['Casual', 'Indie', 'Strategy']",2018-01-04
32132,610660.0,"['Indie', 'Racing', 'Simulation']",2018-01-04
32133,658870.0,"['Casual', 'Indie']",2017-09-02
32134,681550.0,NaN,2016-05-17

In [135]:
steam_games_cleaned_copy.to_csv('dataset_tres_games.csv', index=False)

In [137]:
items_cleaned

          item_id  playtime_forever            user_id
0            10.0               6.0  76561197970982479
1            20.0               0.0  76561197970982479
2            30.0               7.0  76561197970982479
3            40.0               0.0  76561197970982479
4            50.0               0.0  76561197970982479
...           ...               ...                ...
5170010  373330.0               0.0  76561198329548331
5170011  388490.0               3.0  76561198329548331
5170012  521570.0               4.0  76561198329548331
5170013  519140.0               3.0  76561198329548331
5170014       NaN               NaN  edward_tremethick

[5170015 rows x 3 columns]

In [138]:
items_cleaned.to_csv('dataset_tres_items.csv', index=False)

seleccion de una muestra aleatoria a una decima parte, quedan aproximadamente 500 mil

In [145]:
# Reducir el dataframe a la quinta parte tomando una muestra aleatoria 
reduced_items_cleaned = items_cleaned.sample(frac=0.10, random_state=42)  # Usar un random_state para reproducibilidad

reduced_items_cleaned.shape

(517002, 3)

In [146]:
reduced_items_cleaned.to_csv('dataset_tres_items_reducido.csv', index=False)

In [147]:
reduced_items_cleaned

          item_id  playtime_forever            user_id
5089722  245550.0               5.0  76561198097697136
114278     9070.0               1.0           -Uplink-
1452701  241720.0              67.0  76561198069096021
3661873  271290.0               0.0          valkamane
1385304  214830.0               0.0         orangesims
...           ...               ...                ...
50806    434010.0             355.0  76561197992148038
2841728  312990.0             791.0  76561198079834390
1713321   71340.0            2756.0  76561198054378776
2781019  473650.0             245.0           jiumohoo
3666735  206020.0               0.0        venatus2448

[517002 rows x 3 columns]

In [148]:
# Calcular el tamaño en memoria del dataframe reducido en megabytes (MB)
memory_size_mb = reduced_items_cleaned.memory_usage(deep=True).sum() / (1024 ** 2)

memory_size_mb

46.37757587432861

In [ ]:
# Cargar el archivo steam_games
#steam_games_cleaned= pd.read_csv("./data/dataset_tres_games.csv", encoding="utf-8")

# Cargar el archivo items
#items_cleaned= pd.read_csv("./data/dataset_tres_items_reducido.csv", encoding="utf-8")

In [149]:
def UserForGenre_test(genero: str):
    # Filtrar los juegos que pertenecen al género especificado
    games_in_genre = steam_games_cleaned[steam_games_cleaned['genres'].str.contains(genero, na=False, case=False)]
    
    # Vincular los juegos filtrados con reduced_items_cleaned para obtener las horas jugadas de cada juego por cada usuario
    user_playtime = games_in_genre.merge(items_cleaned, left_on='id', right_on='item_id', how='inner')
    
    # Agrupar por user_id y sumar las horas jugadas para encontrar el usuario con más horas jugadas
    user_total_playtime = user_playtime.groupby('user_id')['playtime_forever'].sum().reset_index()
    top_user = user_total_playtime.sort_values(by='playtime_forever', ascending=False).iloc[0]['user_id']
    
    # Agrupar por release_date y sumar las horas jugadas para cada año
    hours_by_year = user_playtime.groupby(user_playtime['release_date'].dt.year)['playtime_forever'].sum().reset_index()
    hours_by_year = hours_by_year.rename(columns={"release_date": "Año", "playtime_forever": "Horas"})
    
    # Convertir el DataFrame a una lista de diccionarios
    hours_list = hours_by_year.to_dict('records')
    
    return {
        "Usuario con más horas jugadas para Género {}".format(genero): top_user,
        "Horas jugadas": hours_list
    }

# Testear la función para el género "Action"
test_result = UserForGenre_test("Action")
test_result

{'Usuario con más horas jugadas para Género Action': 'andrewjohn',
 'Horas jugadas': [{'Año': 1983, 'Horas': 662.0},
  {'Año': 1984, 'Horas': 45.0},
  {'Año': 1988, 'Horas': 2548.0},
  {'Año': 1989, 'Horas': 32.0},
  {'Año': 1990, 'Horas': 1696.0},
  {'Año': 1991, 'Horas': 246.0},
  {'Año': 1992, 'Horas': 153.0},
  {'Año': 1993, 'Horas': 1669.0},
  {'Año': 1994, 'Horas': 13785.0},
  {'Año': 1995, 'Horas': 22811.0},
  {'Año': 1996, 'Horas': 4635.0},
  {'Año': 1997, 'Horas': 35479.0},
  {'Año': 1998, 'Horas': 299231.0},
  {'Año': 1999, 'Horas': 255990.0},
  {'Año': 2000, 'Horas': 2479844.0},
  {'Año': 2001, 'Horas': 145827.0},
  {'Año': 2002, 'Horas': 87111.0},
  {'Año': 2003, 'Horas': 1289310.0},
  {'Año': 2004, 'Horas': 13240564.0},
  {'Año': 2005, 'Horas': 1315125.0},
  {'Año': 2006, 'Horas': 1039564.0},
  {'Año': 2007, 'Horas': 1754443.0},
  {'Año': 2008, 'Horas': 3517543.0},
  {'Año': 2009, 'Horas': 16630466.0},
  {'Año': 2010, 'Horas': 18255061.0},
  {'Año': 2011, 'Horas': 33280910.0},
  {'Año': 2012, 'Horas': 113434740.0},
  {'Año': 2013, 'Horas': 44040568.0},
  {'Año': 2014, 'Horas': 16677593.0},
  {'Año': 2015, 'Horas': 25107914.0},
  {'Año': 2016, 'Horas': 11239038.0},
  {'Año': 2017, 'Horas': 12829173.0},
  {'Año': 2018, 'Horas': 647.0}]}

**DATASET PARA EL ENDPOINT CUATRO.**

In [165]:
# Cargando los datasets
steam_games_df4 = pd.read_csv('steam_games.csv')
user_reviews_df4 = pd.read_csv('user_reviews.csv')

In [166]:
# Seleccionando las columnas relevantes
steam_games_selected = steam_games_df[['id', 'developer', 'release_date']]
user_reviews_selected = user_reviews_df[['item_id', 'recommend']]

In [167]:
# Realizando el merge
merged_df = steam_games_selected.merge(user_reviews_selected, left_on='id', right_on='item_id', how='inner')

# Eliminando la columna 'item_id' ya que es redundante después del merge
merged_df.drop('item_id', axis=1, inplace=True)

# Mostrando las primeras filas del dataset fusionado
merged_df

             id            developer release_date  recommend
0      282010.0  Stainless Games Ltd   1997-06-30       True
1          70.0                Valve   1998-11-08       True
2          70.0                Valve   1998-11-08       True
3          70.0                Valve   1998-11-08       True
4          70.0                Valve   1998-11-08       True
...         ...                  ...          ...        ...
53983      80.0                Valve   2004-03-01      False
53984      80.0                Valve   2004-03-01       True
53985      80.0                Valve   2004-03-01       True
53986      80.0                Valve   2004-03-01       True
53987      80.0                Valve   2004-03-01       True

[53988 rows x 4 columns]

ANALISIS DE SENTIMIENTOS

In [174]:
from textblob import TextBlob

def sentiment_analysis(text):
    # Si la reseña está ausente, retorna Neutral (1)
    if pd.isna(text):
        return 1
    
    # Calcula la polaridad de la reseña
    polarity = TextBlob(text).sentiment.polarity
    
    # Clasifica la reseña según la polaridad
    if polarity < -0.05:
        return 0  # Malo
    elif polarity > 0.05:
        return 2  # Positivo
    else:
        return 1  # Neutral

# Aplicando la función de análisis de sentimiento al dataset user_reviews_df
user_reviews_df4['sentiment_analysis'] = user_reviews_df4['review'].apply(sentiment_analysis)

# Mostrando las primeras filas con la nueva columna
user_reviews_df4[['review', 'sentiment_analysis']].head()

                                              review  sentiment_analysis
0  Simple yet with great replayability. In my opi...                   2
1               It's unique and worth a playthrough.                   2
2  Great atmosphere. The gunplay can be a bit chu...                   1
3  I know what you think when you see this title ...                   2
4  For a simple (it's actually not all that simpl...                   1

In [175]:
user_reviews_df4

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url,sentiment_analysis
0,NaN,"Posted November 5, 2011.",NaN,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2
1,NaN,"Posted July 15, 2011.",NaN,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2
2,NaN,"Posted April 21, 2011.",NaN,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1
3,NaN,"Posted June 24, 2014.",NaN,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637,http://steamcommunity.com/id/js41637,2
4,NaN,"Posted September 8, 2013.",NaN,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637,http://steamcommunity.com/id/js41637,1
...,...,...,...,...,...,...,...,...,...,...
59300,NaN,Posted July 10.,NaN,70,No ratings yet,True,a must have classic from steam definitely wort...,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2
59301,NaN,Posted July 8.,NaN,362890,No ratings yet,True,this game is a perfect remake of the original ...,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2
59302,1 person found this review funny,Posted July 3.,NaN,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2
59303,NaN,Posted July 20.,NaN,730,No ratings yet,True,:D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2
59304,NaN,Posted July 2.,NaN,440,No ratings yet,True,so much fun :D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2

In [177]:
user_reviews_df4.to_csv('reviews_ansent.csv', index=False)

In [176]:
df111=pd.read_csv("user_reviews.csv")
df111

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
0,NaN,"Posted November 5, 2011.",NaN,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,NaN,"Posted July 15, 2011.",NaN,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,NaN,"Posted April 21, 2011.",NaN,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,NaN,"Posted June 24, 2014.",NaN,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637,http://steamcommunity.com/id/js41637
4,NaN,"Posted September 8, 2013.",NaN,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637,http://steamcommunity.com/id/js41637
...,...,...,...,...,...,...,...,...,...
59300,NaN,Posted July 10.,NaN,70,No ratings yet,True,a must have classic from steam definitely wort...,76561198312638244,http://steamcommunity.com/profiles/76561198312...
59301,NaN,Posted July 8.,NaN,362890,No ratings yet,True,this game is a perfect remake of the original ...,76561198312638244,http://steamcommunity.com/profiles/76561198312...
59302,1 person found this review funny,Posted July 3.,NaN,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,LydiaMorley,http://steamcommunity.com/id/LydiaMorley
59303,NaN,Posted July 20.,NaN,730,No ratings yet,True,:D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley
59304,NaN,Posted July 2.,NaN,440,No ratings yet,True,so much fun :D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley

In [168]:
# Guardando el nuevo dataset en un archivo CSV
merged_df.to_csv('dataset_cuatro.csv', index=False)

In [170]:
# Cargar el dataframe dos
df4 = pd.read_csv('dataset_cuatro.csv', encoding="utf-8")

In [172]:
def best_developer(año: int,):
    # Filtrar los juegos que fueron lanzados en el año especificado
    games_of_year = df4[df4['release_date'].str.startswith(str(año), na=False)]
    
    # Filtrar las revisiones que tienen recommend como True
    recommended_reviews = games_of_year[games_of_year['recommend'] == True]
    
    # Agrupar por developer y contar las recomendaciones
    developer_counts = recommended_reviews.groupby('developer').size().reset_index(name='recommendations')
    top_developers = developer_counts.sort_values(by='recommendations', ascending=False).head(3)
    
    # Preparar la lista de resultados
    results = [{"Puesto {}".format(i+1): dev} for i, dev in enumerate(top_developers['developer'])]
    
    return results    

# Ejecutando la función adaptada para el año 2016 como prueba
best_developer(2016)

[{'Puesto 1': 'Chucklefish'},
 {'Puesto 2': 'Reto-Moto'},
 {'Puesto 3': 'Klei Entertainment'}]

In [179]:
steam_games_df42 = pd.read_csv('steam_games.csv')
steam_games_df42

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140.0,Kotoshiro
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980.0,Secret Level SRL
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290.0,Poolians.com
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,False,767400.0,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"['Action', 'Indie', 'Casual', 'Sports']",http://steamcommunity.com/app/773570/reviews/?...,"['Single-player', 'Full controller support', '...",2.99,False,773570.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Ghost_RUS Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"['Strategy', 'Indie', 'Casual', 'Simulation']",http://steamcommunity.com/app/773640/reviews/?...,"['Single-player', 'Steam Achievements']",1.99,False,773640.0,"Nikita ""Ghost_RUS"""
32131,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"['Strategy', 'Indie', 'Casual']",http://steamcommunity.com/app/733530/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",4.99,False,733530.0,Sacada
32132,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"['Indie', 'Simulation', 'Racing']",http://steamcommunity.com/app/610660/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",1.99,False,610660.0,Laush Dmitriy Sergeevich
32133,SIXNAILS,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...",http://steamcommunity.com/app/658870/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",4.99,False,658870.0,"xropi,stev3ns"
32134,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550.0,NaN

In [197]:
import pandas as pd

# Leer el archivo CSV
steam_games8 = pd.read_csv('steam_games.csv')

# Mostrar las primeras filas del dataset
steam_games8.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140.0,Kotoshiro
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980.0,Secret Level SRL
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290.0,Poolians.com
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,False,767400.0,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"['Action', 'Indie', 'Casual', 'Sports']",http://steamcommunity.com/app/773570/reviews/?...,"['Single-player', 'Full controller support', '...",2.99,False,773570.0,NaN

In [198]:
# Convertir la columna release_date a formato de fecha
steam_games8['release_date'] = pd.to_datetime(steam_games8['release_date'], errors='coerce')

# Calcular la mediana de las fechas válidas
median_date = steam_games8['release_date'].median()

median_date

Timestamp('2016-04-18 00:00:00')

In [199]:
# Sustituir fechas inválidas (NaT) por la mediana
steam_games8['release_date'].fillna(median_date, inplace=True)

# Extraer el año y almacenarlo como un número entero
steam_games8['release_year'] = steam_games8['release_date'].dt.year

# Mostrar las primeras filas del dataset actualizado
steam_games8.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,release_year
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140.0,Kotoshiro,2018
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980.0,Secret Level SRL,2018
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290.0,Poolians.com,2017
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,False,767400.0,彼岸领域,2017
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,2016-04-18,"['Action', 'Indie', 'Casual', 'Sports']",http://steamcommunity.com/app/773570/reviews/?...,"['Single-player', 'Full controller support', '...",2.99,False,773570.0,NaN,2016

In [200]:
# Reemplazar la columna release_date con solo el año
steam_games8['release_date'] = steam_games8['release_date'].dt.year

# Mostrar las primeras filas del dataset actualizado
steam_games8.head(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,release_year
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140.0,Kotoshiro,2018
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980.0,Secret Level SRL,2018
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290.0,Poolians.com,2017
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,False,767400.0,彼岸领域,2017
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,2016,"['Action', 'Indie', 'Casual', 'Sports']",http://steamcommunity.com/app/773570/reviews/?...,"['Single-player', 'Full controller support', '...",2.99,False,773570.0,NaN,2016

In [203]:
# Seleccionar solo las columnas deseadas
selected_columns = steam_games8[['id', 'developer', 'release_date']]

# Mostrar las primeras filas del nuevo dataset
selected_columns

             id                 developer  release_date
0      761140.0                 Kotoshiro          2018
1      643980.0          Secret Level SRL          2018
2      670290.0              Poolians.com          2017
3      767400.0                      彼岸领域          2017
4      773570.0                       NaN          2016
...         ...                       ...           ...
32130  773640.0        Nikita "Ghost_RUS"          2018
32131  733530.0                    Sacada          2018
32132  610660.0  Laush Dmitriy Sergeevich          2018
32133  658870.0             xropi,stev3ns          2017
32134  681550.0                       NaN          2016

[32135 rows x 3 columns]

In [204]:

selected_columns.to_csv("steam_games_dt4.csv", index=False)

In [205]:
import pandas as pd

# Leer los datasets
steam_games45 = pd.read_csv("steam_games_dt4.csv")
reviews_ansent45 = pd.read_csv("reviews_ansent.csv")

# Mostrar las primeras filas de cada dataset para explorar su estructura
steam_games45.head(), reviews_ansent45.head()

(         id         developer  release_date
 0  761140.0         Kotoshiro          2018
 1  643980.0  Secret Level SRL          2018
 2  670290.0      Poolians.com          2017
 3  767400.0              彼岸领域          2017
 4  773570.0               NaN          2016,
   funny                     posted last_edited  item_id
 0   NaN   Posted November 5, 2011.         NaN     1250  \
 1   NaN      Posted July 15, 2011.         NaN    22200
 2   NaN     Posted April 21, 2011.         NaN    43110
 3   NaN      Posted June 24, 2014.         NaN   251610
 4   NaN  Posted September 8, 2013.         NaN   227300

                                            helpful  recommend
 0                                   No ratings yet       True  \
 1                                   No ratings yet       True
 2                                   No ratings yet       True
 3  15 of 20 people (75%) found this review helpful       True
 4     0 of 1 people (0%) found this review helpful       True

                                               review            user_id
 0  Simple yet with great replayability. In my opi...  76561197970982479  \
 1               It's unique and worth a playthrough.  76561197970982479
 2  Great atmosphere. The gunplay can be a bit chu...  76561197970982479
 3  I know what you think when you see this title ...            js41637
 4  For a simple (it's actually not all that simpl...            js41637

                                             user_url  sentiment_analysis
 0  http://steamcommunity.com/profiles/76561197970...                   2
 1  http://steamcommunity.com/profiles/76561197970...                   2
 2  http://steamcommunity.com/profiles/76561197970...                   1
 3               http://steamcommunity.com/id/js41637                   2
 4               http://steamcommunity.com/id/js41637                   1  )

In [210]:
# Eliminar columnas no necesarias en ambos datasets
steam_games_cleaned = steam_games45[['id', 'developer', 'release_date']]
reviews_ansent_cleaned = reviews_ansent45[['item_id', 'recommend', 'sentiment_analysis']]

# Hacer un merge de los datasets usando 'id' y 'item_id' como columnas clave
merged_data = pd.merge(steam_games_cleaned, reviews_ansent_cleaned, left_on='id', right_on='item_id', how='inner')

# Eliminar la columna 'item_id' ya que es redundante después del merge
merged_data.drop('item_id', axis=1, inplace=True)

# Mostrar las primeras filas del dataset resultante
merged_data

,id,developer,release_date,recommend,sentiment_analysis
0,282010.0,Stainless Games Ltd,1997,True,1
1,70.0,Valve,1998,True,1
2,70.0,Valve,1998,True,0
3,70.0,Valve,1998,True,0
4,70.0,Valve,1998,True,2
...,...,...,...,...,...
53983,80.0,Valve,2004,False,1
53984,80.0,Valve,2004,True,2
53985,80.0,Valve,2004,True,2
53986,80.0,Valve,2004,True,1
53987,80.0,Valve,2004,True,0

In [213]:
merged_data.to_csv("dataset_cuatro.csv", index=False)

In [211]:
def best_developer_year_updated(año: int, df=merged_data):
    # Filtrar los juegos que fueron lanzados en el año especificado
    games_of_year = df[df['release_date'] == año]
    
    # Filtrar las revisiones que tienen recommend como True
    recommended_reviews = games_of_year[games_of_year['recommend'] == True]
    
    # Agrupar por developer y contar las recomendaciones
    developer_counts = recommended_reviews.groupby('developer').size().reset_index(name='recommendations')
    top_developers = developer_counts.sort_values(by='recommendations', ascending=False).head(3)
    
    # Preparar la lista de resultados
    results = [{"Puesto {}".format(i+1): dev} for i, dev in enumerate(top_developers['developer'])]
    
    return results

# Probar la función para el año 1998
best_developer_year_updated(1998)

[{'Puesto 1': 'Valve'},
 {'Puesto 2': 'Black Isle Studios'},
 {'Puesto 3': 'Looking Glass Studios'}]

In [212]:
def developer_reviews_analysis(desarrolladora: str, df=merged_data):
    # Filtrar los registros por el desarrollador especificado
    developer_data = df[df['developer'] == desarrolladora]
    
    # Contar los registros de análisis de sentimiento positivo y negativo
    negative_count = len(developer_data[developer_data['sentiment_analysis'] == 0])
    positive_count = len(developer_data[developer_data['sentiment_analysis'] == 1])
    
    # Preparar el resultado
    result = {desarrolladora: [f"Negative = {negative_count}", f"Positive = {positive_count}"]}
    
    return result

# Probar la función para el desarrollador "Valve"
developer_reviews_analysis("Valve")

{'Valve': ['Negative = 1355', 'Positive = 3259']}

In [214]:
import pandas as pd

# Leer el archivo CSV
dfdf = pd.read_csv("dataset_cuatro.csv")

# Mostrar las primeras filas del dataframe
dfdf.head()

         id            developer  release_date  recommend  sentiment_analysis
0  282010.0  Stainless Games Ltd          1997       True                   1
1      70.0                Valve          1998       True                   1
2      70.0                Valve          1998       True                   0
3      70.0                Valve          1998       True                   0
4      70.0                Valve          1998       True                   2

In [218]:
def best_developer_year_corrected(dfdf, año):
    # Filtrar el dataframe por el año dado y donde se recomienda el juego y el análisis de sentimiento es positivo
    filtered_df = dfdf[(dfdf['release_date'] == año) & (dfdf['recommend'] == True) & (dfdf['sentiment_analysis'] == 2)]
    
    # Agrupar por desarrollador y contar el número de recomendaciones
    grouped_df = filtered_df.groupby('developer').size().reset_index(name='recommend_count')
    
    # Ordenar los desarrolladores por el número de recomendaciones en orden descendente y obtener los primeros 3
    top_3 = grouped_df.sort_values(by='recommend_count', ascending=False).head(3)
    
    # Convertir el resultado a la estructura deseada
    result = [{"Puesto {}".format(i+1): row.developer} for i, row in enumerate(top_3.itertuples())]
    
    return result

# Probemos la función corregida con el mismo año de ejemplo
best_developer_year_corrected(dfdf, 1998)

[{'Puesto 1': 'Valve'},
 {'Puesto 2': 'Oddworld Inhabitants'},
 {'Puesto 3': 'Black Isle Studios'}]